:root {
  /* Telegram WebApp theme colors */
  --tg-primary-color: #0088cc;
  --tg-secondary-color: #a0a7b0;
  --tg-tertiary-color: #e6e6e6;
  --tg-accent-color: #34afed;
  --tg-background-color: #f7f8fa;
  --tg-text-color: #4a4a4a;
  --text-primary: #fff;
  --white: #fff;
  --color-success: #4caf50;
  --color-danger: var(--tg-theme-destructive-text-color);
}
/* night theme, prefers dark */
@media (prefers-color-scheme: dark) {
  :root {
    --tg-primary-color: #002b71;
    --tg-secondary-color: #414449;
    --tg-tertiary-color: #282727;
    --tg-accent-color: #065e89;
    --tg-background-color: #1c1c1c;
    --tg-text-color: #cac1c1;
    --text-primary: #ffffff4d;
    --white: #000;
  }
}


input[type="text"] {
  outline: none;
}

body {
  background-color: var(--tg-background-color);
  color: var(--tg-text-color);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header {
  background-color: var(--tg-primary-color);
  color: var(--text-primary);
  padding: 10px;
  text-align: center;
}

.form {
  display: flex;
  position: sticky;
  bottom: 0;
  margin: 0;
  padding: 16px;
  background: inherit;
}

.form input[type="text"] {
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: inherit;
}

.edit-input {
  border: 1px solid var(--tg-accent-color);
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.edit-submit {
  color: var(--color-success);
  cursor: pointer;
}

.form button[type="submit"] {
  background-color: var(--tg-accent-color);
  border: none;
  border-radius: 3px;
  color: inherit;
  font-size: 16px;
  padding: 10px;
}
.form button[type="submit"]:not(:disabled) {
  cursor: pointer;
}
.form button[type="submit"]:disabled {
  opacity: 0.5;
  background-color: var(--tg-secondary-color);
  color: var(--tg-text-color);
}
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-inline-start: 16px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

label {
  white-space: pre;
}

.items-list li {
  background-color: var(--white);
  border-bottom: 1px solid var(--tg-tertiary-color);
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 40px;
}

.items-list li:last-child {
  border-bottom: none;
}

.items-list li label {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.items-list li input[type="checkbox"] {
  cursor: pointer;
  height: 18px;
  width: 18px;
  flex-shrink: 0;
}

.items-list li.completed {
  color: var(--tg-secondary-color);
  text-decoration: line-through;
}
input[type="text"]:focus-visible {
  border-color: var(--tg-accent-color);
}

.items-list li button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 24px;
}

.items-list li .delete-button {
  color: var(--tg-theme-destructive-text-color);
  opacity: .4;
  cursor:pointer;
}

.undo-toast {
  display: flex;
  align-items: center;
  background-color: var(--tg-accent-color);
  color: var(--text-primary);
  font-size: 16px;
  padding: 5px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
  cursor: pointer;
}

.undo-button {
  background-color: var(--tg-accent-color);
  border: none;
  border-radius: 3px;
  color: var(--text-primary);
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
  pointer-events: none;
}